/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}
h1,
h2 {
  text-align: center;
}

/* ---------------------------------------------------- */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(187, 187, 187);
  margin: 10px;
  padding: 15px;
  width: 300px;
}

.container-item img {
  max-width: 120px;
  width: 100%;
  border-radius: 100%;
  margin: 15px;
}

p {
  text-align: center;
}

@media (min-width: 540px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container-item {
    width: calc(50% - 1px - 15px - 10px);
    flex-direction: row;
  }
  p,
  h2 {
    text-align: start;
  }
}

@media (min-width: 960px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .container-item {
    width: calc(25% - 1px - 15px - 10px);
    flex-direction: column;
    height: 300px;
    max-height: 100%;
  }
  p,
  h2 {
    text-align: center;
  }
}
